:root {
    /*declare from stlye guide */
    --primary-dark-cyan         :hsl(158, 36%, 37%);
    --primary-cream             :hsl(30, 38%, 92%);
    --neutral-very-dark-blue    :hsl(212, 21%, 14%);
    --neutral-grayish-blue      :hsl(228, 12%, 48%);
    --neutral-white             :hsl(0, 0%, 100%);
    --montserrat                :"Montserrat", sans-serif;
    --fraunces                  :"Fraunces", serif;
    --font-paragraph            :14px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--primary-cream);
}

.product {
    background-color: var(--neutral-white);
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    max-width: 40em;
    min-height: 25em;
    border-radius: 10px;
    overflow: hidden;
}

.product__image {
    display: block;
    width:100%;
    height:100%;
    max-height: 30em;    
}

.product__information {
    width: 100%;
    height: 100%;
    max-height: 30em;   
    padding:30px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: space-between;
}

.product__category {
    font-family: var(--montserrat);
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: .8em;
    font-weight: 400;
}

.product__title {
    font-family: var(--fraunces);
    font-size: 2.25em;
    line-height: 1em;
    color: var(--neutral-very-dark-blue)
}

.product__description {
    font-family: var(--montserrat);
    font-weight: 400;
    line-height: 1.5em;
    color: var(--neutral-grayish-blue)
}

.product__price {
    font-family: var(--fraunces);
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
}

.product__price-discounted {
    color: var(--primary-dark-cyan);
    font-size: 2em;
    font-weight: 700;
}

.product__price-original {
    color: var(--neutral-grayish-blue);
    font-weight: 500;
    font-size: .85em;
    text-decoration: line-through;
}

.product__button {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--primary-dark-cyan);
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    padding: 20px;
    color: var(--neutral-white);
    font-family: var(--montserrat);
    font-size: 1em; 
    font-weight: 700;
    border-radius: 10px;
}

.product__button:hover {
    background-color: var(--neutral-very-dark-blue);
}